.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.brand {
  list-style: none;
    color: red;
    background: black;
    padding: 10px;
    border: 5px solid #F5333F;
  
}

.footer {
  background: #F5333F;
  color: #fff;
}

.footer ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  padding: 7px;
  text-align: justify;
  border: 1px solid #fff;
  margin-right: 7px;
  margin-bottom: 7px;;
}

.btn-custom {
  background: #000;
    color: #f00;
    border: 4px solid #F5333F;
}

a:hover {
  color:#F5333F;
}